div.div_menu{
  background-color: #000000;
}
.slider-div{
  text-align: center;
}
.menu{
  color: white;
  text-transform: uppercase;
}
footer{
  background-color: #000000;
}
.footer{
  color: white;
  text-align: center;
}
.footer-alamat{
  color: white;
  text-align: center;
}
